parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/WordPress/TestCase.php
    ignoreErrors:
        -
            identifier: requireOnce.fileNotFound
