<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheResult="false"
         backupGlobals="false"
         stopOnError="false"
         bootstrap="./tests/Unit/Bootstrap.php"
         processIsolation="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory="var/cache/phpunit/unit"
         backupStaticProperties="false"
         requireCoverageMetadata="true">
  <testsuites>
    <testsuite name="Tests">
      <directory>tests/Unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
