<?xml version="1.0" encoding="UTF-8"?>
<phpunit cacheResult="false"
         backupGlobals="false"
         stopOnError="true"
         bootstrap="./tests/Bootstrap.php"
         processIsolation="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>